*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: sans-serif;
}

.article{
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    gap:1em;
    font-size: 16px;
}

.article h1{
    text-align: center;
}

.article p{
    text-align: justify;
    line-height: 1.55;
}

.article ul{
    padding-left: 1em;
}
